body{
    background-color: #fdc858;
}

.bgNav {
    background: #fbf7eb;
  }


.bgAmarilloRosa{
    background: linear-gradient(#fbf7eb, #fdc858);
}

.text-black{
    color: black;
}

.pZW{
    font-size: 3em;
    font-weight: bold;
    margin: auto;
}

.tSmall{
    font-size: 1.5em;
}

.tBig{
    font-size: 2em;
}

.pExpo{
    font-size: 6em;
    font-weight: bold;
    margin: auto;
}